<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}
    <body class="w-100 center">
        <main class="mw9 center flex flex-column">
            {{- partial "header.html" . -}}
            <div id="content" class="flex-auto">
            {{- block "main" . }}{{- end }}
        
            {{.Site.Data.webpack_assets.main.css}} 
                
            </div>
            {{- partial "footer.html" . -}}

            {{- partial "script.html" -}}
        </main>
    </body>
</html>
