<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
    {{- partial "head.html" . -}}

    <body class="w-100 debug-grid">
        <!-- <div id="container" class="mw7 center"> -->
            {{- partial "header.html" . -}}
            {{- partial "navigation.html" . -}}
            <main class="w-100 w-50-l center ph3 ph0-l">
                {{ block "main" . }}{{ end }}

            </main>
            {{- partial "footer.html" . -}}    
            {{- partial "script.html" . -}}
        <!-- </div> -->
    </body>
</html>
