<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ .Site.BaseURL }}">
    <title>{{ if not .IsHome }}{{ with .Title }}{{ . }} | {{ end }}{{ end }}{{ .Site.Title }}</title>
   
    {{ block "style" .}}
    {{ with .Site.Data.webpack_assets.main.css }}
      <link href="{{ relURL (printf "%s%s" "dist/" .) }}" rel="stylesheet">
    {{ end }}

    {{/* Fontawesome */}}
    <script src="https://kit.fontawesome.com/fde4160ead.js" crossorigin="anonymous"></script>

    {{/* Google Font*/}}
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    {{ range .Site.Params.custom_css }}
      <link rel="stylesheet" href="{{ relURL (.) }}">
    {{ end }}
    {{ end }}
    {{ template "partials/iubenda.html" . }}
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ partial "schema.html" . }}
</head>