{{ define "lastPost"}}
    {{/* Get all page in  mainSections param or posts as default*/}}
    {{ $mainSections := site.Params.mainSections | default (slice "posts") }}
    {{/* Get all page by mainSections order by param order */}}
    {{ range $m := $mainSections }}
        {{ $pages := where site.RegularPages "Type" "in" $m }}
            {{ range $pages }}            
            <article>
                <header>
                    <h2>{{ .Title }}</h2>
                    <time datetime="{{ .Date }}">{{ .Date.Format "02 January 2006" }}</time>
                    <span>
                        {{ range .Params.tags}}
                            {{ . }}
                        {{ end }}
                    </span>
                </header>                
            </article>                
            {{ end }}
    {{ end }}    
{{ end }}