{{ define "lastPost"}}
    {{/* Get all page in  mainSections param or posts as default*/}}
    {{ $mainSections := site.Params.mainSections | default (slice "posts") }}
    {{/* Get all page by mainSections order by param order */}}
    {{ range $m := $mainSections }}
        {{ $pages := where site.RegularPages "Type" "in" $m }}
            {{ range $pages }}            
            <article class="mv5 bb pb3">
                <header>
                    <h2 class="f2 lh-copy"><a href="{{ .Permalink }}" class="db link dim blue">{{ .Title }}</a></h2>
                    <span class="mr5">                        
                        <i class="far fa-calendar-alt"></i> <time datetime="{{ .Date.Format "2006-01-02T15:04:05-08:00"}}">{{ .Date.Format "02 January 2006" }}</time>
                    </span>
                    <span>
                        <i class="fas fa-tags"></i> 
                        {{ range $k, $v := .Params.tags}}
                        {{ if $k }} \ {{ end }}<a href="tags/{{ $v | urlize }}" class="link dim blue">{{ $v }}</a>
                        {{ end }}
                    </span>
                </header>                
            </article>                
            {{ end }}
    {{ end }}    
{{ end }}