<nav id="mainMenu" class="w-100 w-50-l center dt pv4 pv3-l ph3 ph0-l db bb border-box" role="navigation">
    <div class="w-100 w-70-l db dtc-l">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a class="sidebar-nav-item {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}} ph2 link dark-gray hover-blue" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        {{ end }}
    </div>
    <div class="w-100 w-30-l db dtc-l tr-l mt3 mv0-l">
        {{ if .Site.Params.facebook}}
        <a class="link ph2 dark-gray hover-blue" href="{{ .Site.Params.facebook }}" target="_blank" rel="nofollow, noreferrer" aria-label="facebook"><i class="fab fa-facebook-f"></i></a>
        {{ end }}
        {{ if .Site.Params.twitter }}
        <a class="link ph2 dark-gray hover-blue" href="{{ .Site.Params.twitter }}" target="_blank" rel="nofollow, noreferrer" aria-label="twitter"><i class="fab fa-twitter"></i></a>
        {{ end }}
        {{ if .Site.Params.linkedin }}
        <a class="link ph2 dark-gray hover-blue" href="{{ .Site.Params.linkedin }}" target="_blank" rel="nofollow, noreferrer" aria-label="linkedin"><i class="fab fa-linkedin-in"></i></a>
        {{ end }}
        {{ if .Site.Params.mastodon }}
        <a class="link ph2 dark-gray hover-blue" href="{{ .Site.Params.mastodon }}" target="_blank" rel="nofollow, noreferrer" aria-label="mastodon"><i class="fab fa-mastodon"></i></a>
        {{ end }}
        {{ if .Site.Params.youtube }}
        <a class="link ph2 dark-gray hover-blue" href="{{ .Site.Params.youtube }}" target="_blank" rel="nofollow, noreferrer" aria-label="youtube"><i class="fab fa-youtube"></i></a>
        {{ end }}
    </div>
</nav>